.header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;

  .navbar-brand {
    position: absolute;
    top: 20px;
    left: 60px;
    @include responsive("mobile-h") {
      left: 20px;
    }
    path {
      fill: #fff;
    }
  }
}

.scrolled {
  .header {
    background: rgba(#000, 0.5);
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.1));
  }
}
